{% extends 'base.html' %}

{% block title %} Про проєкт {% endblock %}

{% block main %}
<div class="container">

    <h3>Крок 1: Розуміння проблеми та постановка завдань</h3>
    <div class="block-gif">
        <img src="https://i.gifer.com/7RQq.gif" alt="start">
    </div>

    <p>Перший крок до успішного створення проєкту машинного навчання — це зрозуміти проблему, вирішити де знайти
        дані та визначити кінцеву мету. Також необхідно дізнатися чи існують готові рішення і, якщо так, чим вони не
        влаштовують вас або замовника.</p>
    <p>Мета мого пет-проєкту - показати мої навички та створити простий сервіс онлайн оцінки вартості квартир
        вторинного ринку України. Особисто я знайшов лише 1 схожий сервіс с гарним функціоналом.</p>

    <h3>Крок 2: Збір даних</h3>
    <div class="block-gif">
        <img src="https://i.gifer.com/D4xR.gif" alt="so it begins">
    </div>
    <p>Моделі машинного навчання навчаються на даних, які ви їм надаєте. Надзвичайно важливо збирати надійні
        дані, щоб ваша модель могла знайти правильні закономірності. Якість даних, які ви подаєте
        у модель, визначатиме, наскільки точна ваша модель. Якщо у вас є неправильні або застарілі дані, ви матимете
        неправильні результати або прогнози, які не є актуальними. Гарні дані є релевантними, містять дуже мало
        пропущених і повторюваних значень і добре представляють різноманітні присутні підкатегорії.</p>

    <p> Я збирав дані самостійно з найпопулярнішого сайта оголошень в Україні. Мені вдалося зпарсити
        близько 100 тисяч оголошень про продаж квартир.</p>
    <div class="blockquote"><span>Парсинг - це автоматизований збір та структурування даних з інтернету, а парсер -
            програма (або скрипт), яка займається цим збором за заданим алгоритмом.</span></div>

    <h3>Крок 3: Аналіз даних</h3>

    <div class="block-gif">
        <img src="https://i.gifer.com/75Ez.gif" alt="data analysis">
    </div>

    <p>Моя мета на цьому етапі - зрозуміти слабкі та сильні сторони зібраних даних, виявити помилки тощо.</p>

    <p>Я знайшов помилки валюти та поверховсті. Близько 0.5% оголошень мали ціну у гривнях у той час, коли всі інші
        ціни були у доларах. Це помилка сайту з якого я збирав дані, бо й при перегляді оголошень інколи ціна
        показується у гривнях, не дивлячись на фільтри пошуку. Помилка поверховсті полягає в тому, що інколи поверх
        квартири більше за загальну поверховість будинку.</p>

    <h3>Крок 4: Підготовка даних</h3>
    <div class="block-gif">
        <img src="https://media.tenor.com/IQ6Z-aPhr1wAAAAM/date-everywhere-data.gif" alt="data everywhere">
    </div>

    <p>Зазвичай дані, які ми зібрали дуже брудні, їх не можна одразу подавати в модель. Наступний крок у процесі
        підготовки - як правило найдовший етап, який складається з багатьох кроків:
        виправлення помилок, заповнення пропущених даних, виявлення шуму та аномалій, створення нових признаків,
        анотація, зниження розмірності, зміна типів даних, маштабування. Дуже важко переоцінити важливість
        підготовки даних, бо цей крок дуже важливий для успіху кінцевої моделі.</p>

    <p>По-перше, я видалив колонки с великою кількістю пропущених значень та заповнив пропуски у колонках з малим
        відсотком пропусків. Потім я перевів гривні у долари за актуальним курсом Google Finance, бо так робить сайт з
        оголошеннями і виправив проблему поверховості. За допомою різних графіків та квантилів розподілу виявив
        аномалії та видалив їх. Також я змінив поверх на категоріальну ознаку з категоріями “перший”, “останній” та “не
        останій і не перший поверх” і закодував усі категоріальні ознаки.</p>

    <h3>Крок 5: Моделювання</h3>
    <div class="block-gif">
        <img src="https://images.squarespace-cdn.com/content/v1/592c721986e6c0040d5a263e/1500835744215-4BUHFAYLOFSYVEAK236Z/hocus-pocus-machine-learning"
            alt="machine learning">
    </div>
    <p>Тепер дані повністю підготовлені і прийшов час обрати модель та метрики якості для її оцінки. Інженери
        машинного навчання не створюють моделі з нуля, потрібно обрати найкращий алгоритм для наявних даних,
        налаштувати гіперпараметри і найголовніше - багато експерементувати і відстежувати точність передбачень.
    </p>

    <h3>5.1. Навчання моделі та підбір гіперпараметрів</h3>
    <p>Під час навчання ви передаєте підготовлені дані своїй моделі машинного навчання, щоб знаходити
        закономірності та робити прогнози. Модель навчається на них, щоб потім виконувати поставлені завдання.</p>

    <p>Після навчання моделі результат не є фінальним, варто налаштувати гіперпараметри. Існує три головних методи
        перебору параметрів: пошук по сітці, випадковий пошук і байєсівська оптимізація. Я використав байєсівську
        оптимізацію за допомогою бібліотеки Optuna.</p>

    <h3>5.2. Оцінка точності моделі</h3>
    <p>Після навчання вашої моделі потрібно перевірити, як вона працює. Це робиться шляхом тестування
        точності моделі на раніше невидимих даних. До навчання дані потрібно розділити на набори даних для
        тренування і тесту. Якщо тестування проводилося на тих самих даних, які використовуються для
        навчання, ви не отримаєте дійсної оцінки, оскільки модель вже звикла до даних і знаходить у них ті самі
        закономірності, що й раніше. Це дасть вам непропорційно високу точність.</p>
    <p>
        Також для оцінки можна використовувати крос-валідацію. Наявні дані розбиваються на k частин. Потім на
        k−1
        частинах даних
        проводиться навчання моделі, а частина, що залишилася, використовується для тестування. Врешті-решт
        ми отримуємо середнє значення з усіх ітерацій.</p>

    <p>Для відстежування якості моделей я використовув крос-валідацію і метрику rmse (квадратний корень із
        середньої
        квадратичної похибки). Після експериментів с різними моделями я обрав градієнтний бустінг, а саме
        XGBoost.
    </p>

    <div class="blockquote"><span>RMSE- метрика якості, яка повідомляє нам квадратний корінь із середньої
            квадратичної
            різниці між прогнозованими значеннями та фактичними значеннями у наборі даних. Чим нижче RMSE, тим
            краще
            модель робить прогнози.</span></div>

    <h3>Крок 6: Розгортання моделі (Деплой)</h3>
    <div class="block-gif">
        <img src="https://nhorilopchan.github.io/tech-ladies-lightning-talks/img/gifs/deploytoprod.gif"
            alt="deploy to prod">
    </div>

    <p>Тепер, коли модель готова, потрібно зробити її доступною для користувачів. Існує багато варіантів
        як це зробити. Я ж вирішив зробити невеликий вебдодаток та телеграм-бот. Для сайту я використовував
        мікрофреймворк Flask, HTML5, CSS3 та JavaScript. Телеграм-бота я написав за допомогою python бібліотеки aiogram.
    </p>

    <div class="blockquote"><span>Деплой — це процедура запуску вебсайту або програми на сервері, хостингу.
            Деплой дозволяє кінцевим користувачам отримати доступ до ресурсів через мережу.</span>
    </div>
</div>

{% endblock %}